@import "tailwindcss";

:root {
  --background: rgb(139, 143, 160);
}

body {
  @apply
    bg-[var(--background)]
    text-black
    font-sans
  ;
}

main {
  @apply
    py-[5em]
    px-[3em]
    w-[100vw]
    h-[100vh]
    m-0
  ;
}

button {
  @apply
    cursor-pointer
    transition-transform 
    transform 
    outline-0
  ;
}

button:hover {
  @apply
      opacity-65
      shadow-lg
      scale-105
    ;
}

input {
  @apply
    outline-0
    transition-transform 
    transform 
  ;
}

input:focus {
  @apply
    scale-105
  ;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  text-align: center;
}

h1 {
  @apply text-6xl;
}

h2 {
  @apply text-5xl;
}

h3 {
  @apply text-4xl;
}

h4 {
  @apply text-3xl;
}

h5 {
  @apply text-2xl;
}

.container {
  @apply
    flex
    items-center
    flex-col
    h-full
    m-auto
  ;
}
